# Indexado y manejo de archivos csv, como crearlos y conectarse a Google Drive

1. Como conectar el ambiente de trabajo con la carpeta personal en Google Drive
2. Explorar el archivo Meteorite_Landings.csv
3. Referencias

## I. Como conectar el ambiente de trabajo con la carpeta personal en Google Drive

1. Abrir notebook
2. Importar la libreria "drive"
3. Ejecutar el comando drive.mount()
4. Ingresar credenciales de acceso
5. Ir a la cuenta de Drive 
6. Cambiar el directorio y posicionarse en la carpeta de Colab Notebooks
7. Listar el contenido de la carpeta

In [31]:
# librerias
import pandas as pd
import numpy as np

In [32]:
# actualizar pandas
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [33]:
# 2.libreria de google
from google.colab import drive

In [34]:
# 3-4.ejecutar el comando  . . para . . 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
# 6.Cambiar el directorio y posicionarse en la carpeta de Colab Notebooks
%cd '/content/drive/My Drive/Colab Notebooks'

/content/drive/My Drive/Colab Notebooks

In [36]:
# 7.listar el contenido de la carpeta
%ls

cadena_caracteres.ipynb        Operadores
Conversión_de_datos.ipynb      Platzi-courses/
db/                            Platzi_courses_data/
for.ipynb                      Python_print_variables.ipynb
introduccion_colab_live.ipynb  TestProject/
lava.jpg                       while.ipynb
Listas.ipynb

De esta forma, comprobamos que estamos ubicados en la carpeta de Colab Notebooks de Drive y se da por terminado el proceso de conexión al Google Drive

## II Explorar el archivo london_merged.csv

### II.1 Comandos para explorar el archivo

1. read_csv( ) 
2. head( )
3. tail( )
4. sample

In [37]:
# 1. usar la función read_csv
pd.read_csv('/content/drive/My Drive/Colab Notebooks/Platzi_courses_data/db/london_merged.csv')
# asignarle una variable al codigo anterior
df_london_bike = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Platzi_courses_data/db/london_merged.csv')
df_london_bike

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [38]:
# 2. si es muy grande el archivo, se puede usar el comando .head(), para que muestre los primeros 5 registros
df_london_bike.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [39]:
# 3. si se requieren ver los ultimos registros, se usa el comando .tail()
df_london_bike.tail()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [40]:
# 4. para ver registros aleatorios, se usa el comando .sample()
df_london_bike.sample()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
2219,2015-04-06 19:00:00,1090,9.0,7.0,71.0,14.0,3.0,1.0,0.0,0.0

In [41]:
# 4.1 agregando argumentos a sample()
df_london_bike.sample(8)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
16964,2016-12-16 06:00:00,497,9.0,7.0,94.0,11.0,4.0,0.0,0.0,3.0
12740,2016-06-20 17:00:00,3735,22.0,22.0,61.0,28.5,2.0,0.0,0.0,1.0
13148,2016-07-08 08:00:00,4186,18.5,18.5,75.5,21.0,2.0,0.0,0.0,1.0
4863,2015-07-26 06:00:00,163,15.0,15.0,61.0,7.5,1.0,0.0,1.0,1.0
5938,2015-09-09 01:00:00,147,15.0,15.0,72.0,12.0,4.0,0.0,0.0,2.0
14341,2016-08-27 08:00:00,581,21.0,21.0,69.0,19.0,1.0,0.0,1.0,1.0
29,2015-01-05 05:00:00,81,6.0,5.5,87.0,5.0,4.0,0.0,0.0,3.0
4628,2015-07-16 08:00:00,4686,19.0,19.0,68.0,25.0,3.0,0.0,0.0,1.0

In [42]:
# ver la forma del dataset
df_london_bike.shape

(17414, 10)

In [43]:
# ver el tipo de dato
df_london_bike.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

## Crear copia del dataset

In [44]:
# crear una copia del dataframe
# definir un nuevo dataframe usando variables
# especificar que la copia es profunda con el argumento deep=True
df_londonb = df_london_bike.copy(deep=True)

In [45]:
# dataset con el que se trabajará
df_londonb

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

## Cambiar el formato de fechas

In [46]:
# almacenar en el dataframe el tipo de fato fecha
df_londonb['timestamp'] = pd.to_datetime(df_londonb['timestamp'])
df_londonb['timestamp']

0       2015-01-04 00:00:00
1       2015-01-04 01:00:00
2       2015-01-04 02:00:00
3       2015-01-04 03:00:00
4       2015-01-04 04:00:00
                ...
17409   2017-01-03 19:00:00
17410   2017-01-03 20:00:00
17411   2017-01-03 21:00:00
17412   2017-01-03 22:00:00
17413   2017-01-03 23:00:00
Name: timestamp, Length: 17414, dtype: datetime64[ns]

**Nota 1**

Cuando el archivo original contiene una columna de fecha y esta tiene un formato relativamente organizado como el visto en *timestamp*, pandas, es capaz de reconocerlo y reliza el cambio son la necesidad de la línea de codigo: *format = '%m/%d/%Y %H:%M:%S %p'*

In [47]:
# ver los cambios en dtypes
df_londonb.dtypes

timestamp       datetime64[ns]
cnt                      int64
t1                     float64
t2                     float64
hum                    float64
wind_speed             float64
weather_code           float64
is_holiday             float64
is_weekend             float64
season                 float64
dtype: object

In [48]:
df_londonb

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

## Crear columna *hour*

In [49]:
# se aplica cuando la columna ya tiene definido el formato tipo tiempo/fecha
df_londonb['hour'] = df_londonb['timestamp'].dt.hour
df_londonb['hour']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: hour, Length: 17414, dtype: int64

## Quitar la columna *timestamp*

In [50]:
df = df_londonb.iloc[:,1:]

In [51]:
# ver los cambios
df

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,0
1,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0,1
2,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0,2
3,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0,3
4,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0,4
...,...,...,...,...,...,...,...,...,...,...
17409,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0,19
17410,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0,20
17411,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0,21
17412,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0,22
17413,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0,23

## Operaciones Matemáticas

In [52]:
# Elevar al cuadrado todo el dataset
df ** 2

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,33124,9.00,4.00,8649.00,36.00,9.0,0.0,1.0,9.0,0
1,19044,9.00,6.25,8649.00,25.00,1.0,0.0,1.0,9.0,1
2,17956,6.25,6.25,9312.25,0.00,1.0,0.0,1.0,9.0,4
3,5184,4.00,4.00,10000.00,0.00,1.0,0.0,1.0,9.0,9
4,2209,4.00,0.00,8649.00,42.25,1.0,0.0,1.0,9.0,16
...,...,...,...,...,...,...,...,...,...,...
17409,1085764,25.00,1.00,6561.00,361.00,9.0,0.0,0.0,9.0,361
17410,292681,25.00,1.00,6561.00,441.00,16.0,0.0,0.0,9.0,400
17411,113569,30.25,2.25,6162.25,576.00,16.0,0.0,0.0,9.0,441
17412,50176,30.25,2.25,5776.00,529.00,16.0,0.0,0.0,9.0,484
17413,19321,25.00,1.00,5776.00,484.00,4.0,0.0,0.0,9.0,529

In [53]:
# Elevar al cuadrado los valores de la columna wind_speed
df['wind_speed'] ** 2

0         36.00
1         25.00
2          0.00
3          0.00
4         42.25
          ...
17409    361.00
17410    441.00
17411    576.00
17412    529.00
17413    484.00
Name: wind_speed, Length: 17414, dtype: float64

In [54]:
# calcular . . . con la función seno
np.sin(df['wind_speed'])

0       -0.279415
1       -0.958924
2        0.000000
3        0.000000
4        0.215120
           ...
17409    0.149877
17410    0.836656
17411   -0.905578
17412   -0.846220
17413   -0.008851
Name: wind_speed, Length: 17414, dtype: float64

### Operaciones entre columnas

In [55]:
# calcular la temperatura real y la sensación térmica
# tr = t1-t2
tr = df['t1'] - df['t2']
tr

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [56]:
# operaciones entre columnas usando filtros, con el comando iloc()
# calcular la temperatura real únicamente de los indices par
# 1. extraer las filas de los indices par
df['t1'].iloc[::2]

0        3.0
2        2.5
4        2.0
6        1.0
8        1.5
        ...
17404    6.0
17406    6.0
17408    5.0
17410    5.0
17412    5.5
Name: t1, Length: 8707, dtype: float64

In [57]:
# 2. realizar resta
df['t1'].iloc[::2] - df['t2']

0        1.0
1        NaN
2        0.0
3        NaN
4        2.0
        ...
17409    NaN
17410    4.0
17411    NaN
17412    4.0
17413    NaN
Length: 17414, dtype: float64

Aqui se observa que las filas impares, retornan el valor NaN

En este caso particular no aplica, pero cuando se requiera sustituir los valores NaN, se hace lo siguiente:

df['t1'].iloc[::2].sub(df['t2'], fill_value = 1000)

El 1000, es el valor que se le asignará a las celdas con el valor NaN

In [58]:
# 2. realizar resta
tr_2 = df['t1'].iloc[::2] - df['t2'].iloc[::2]
tr_2

0        1.0
2        0.0
4        2.0
6        2.0
8        2.5
        ...
17404    4.0
17406    4.0
17408    4.0
17410    4.0
17412    4.0
Length: 8707, dtype: float64

In [59]:
# división
df['t1'] / df['t2']

0        1.500000
1        1.200000
2        1.000000
3        1.000000
4             inf
           ...
17409    5.000000
17410    5.000000
17411    3.666667
17412    3.666667
17413    5.000000
Length: 17414, dtype: float64

In [60]:
#algebra lineal, producto punto de una misma columna con el comando dot
df['t1'].dot(df['t1'])
# se multiplican entre si cada valor de cada celda y se suman todas ls celdas.

3247652.777777778

## Uso de funciones

### Funciones def simples

In [91]:
# creacion de la funcion para convertir de grados Celcius a grados Farenheit
# aplicar la formula en la funcion: F = (9C/5)+32
def farenheit(celcius):
  y = ((9*celcius)/5) + 32
  return y

In [92]:
# aplicacion de la funcion
farenheit(15)

59.0

### Funciones def complejas

In [93]:
# crear un rango de valores de temperaturas, con el comando arange()
np.arange(-5,25)

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11,
       12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24])

In [94]:
# conocer la cantidad de valores del range
np.arange(-5,25).shape

(30,)

In [95]:
# Calcular los grados Farenheit a partir del rango de valores
farenheit(np.arange(-5,25))

array([23. , 24.8, 26.6, 28.4, 30.2, 32. , 33.8, 35.6, 37.4, 39.2, 41. ,
       42.8, 44.6, 46.4, 48.2, 50. , 51.8, 53.6, 55.4, 57.2, 59. , 60.8,
       62.6, 64.4, 66.2, 68. , 69.8, 71.6, 73.4, 75.2])

#### Como aplicar las funciones al dataframe

In [96]:
# calcular los grados farenheti en el dataframe
# aplicar la funcion farenheit en la columna de temperatura t1
df['t1'].apply(farenheit)

0        37.4
1        37.4
2        36.5
3        35.6
4        35.6
         ...
17409    41.0
17410    41.0
17411    41.9
17412    41.9
17413    41.0
Name: t1, Length: 17414, dtype: float64

#### Crear funciones con argumentos

In [102]:
# funciones con argumentos definidos
# calcular la proporción de hombres y mujeres de un grupo dado
def gender(total, men, women):
  men_total = total * men
  women_total = total * women
  return men_total,women_total

In [105]:
#aplicar funcion y cambiar argumentos
gender(215,men=.15, women=.85)

(32.25, 182.75)

In [106]:
# aplicar funcion en dataframe definiendo argumentos
df['cnt'].apply(gender, args = (.45,.55))

0          (81.9, 100.10000000000001)
1                        (62.1, 75.9)
2          (60.300000000000004, 73.7)
3                        (32.4, 39.6)
4         (21.150000000000002, 25.85)
                     ...
17409     (468.90000000000003, 573.1)
17410    (243.45000000000002, 297.55)
17411    (151.65, 185.35000000000002)
17412     (100.8, 123.20000000000002)
17413     (62.550000000000004, 76.45)
Name: cnt, Length: 17414, dtype: object

In [107]:
# otra forma de definir argumentos
df['cnt'].apply(gender, men=(.23), women=(.77))

0         (41.86, 140.14000000000001)
1        (31.740000000000002, 106.26)
2                     (30.82, 103.18)
3         (16.560000000000002, 55.44)
4                      (10.81, 36.19)
                     ...
17409                (239.66, 802.34)
17410                (124.43, 416.57)
17411                 (77.51, 259.49)
17412     (51.52, 172.48000000000002)
17413    (31.970000000000002, 107.03)
Name: cnt, Length: 17414, dtype: object

### Funciones lambda

Son funciones para crear código de forma más rápida y sencilla, en una sola línea

In [108]:
# convertir de grados Celcius a grados Farenheit
# aplicar la fórmula en la funcion: F = (9C/5)+32
df['t1'].apply(lambda celcius: (9 * celcius / 5) + 32)

0        37.4
1        37.4
2        36.5
3        35.6
4        35.6
         ...
17409    41.0
17410    41.0
17411    41.9
17412    41.9
17413    41.0
Name: t1, Length: 17414, dtype: float64

In [110]:
# aplicando una función a todo el dataframe
# calcular los promedios de las columnas
df.apply(lambda x: x.mean())

cnt             1143.101642
t1                12.468091
t2                11.520836
hum               72.324954
wind_speed        15.913063
weather_code       2.722752
is_holiday         0.022051
is_weekend         0.285403
season             1.492075
hour              11.513265
dtype: float64

In [111]:
# calcular los promedios de las filas del dataframe, con el comando axis
df.apply(lambda x: x.mean(),axis=1)

0         29.30
1         24.75
2         24.25
3         18.40
4         15.75
          ...
17409    117.30
17410     67.60
17411     47.45
17412     35.90
17413     27.10
Length: 17414, dtype: float64

In [113]:
# realizar operaciones entre columnas
# Calcular la diferencia entre las columnas de temperatura t1 y t2
df.apply(lambda x: x['t1'] - x['t2'], axis=1)

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [114]:
# aplicar la función a todo el dataframe
# dividir entre 1000 todos los valores del dataframe
df.applymap(lambda x: x / 1000)

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,0.182,0.0030,0.0020,0.0930,0.0060,0.003,0.0,0.001,0.003,0.000
1,0.138,0.0030,0.0025,0.0930,0.0050,0.001,0.0,0.001,0.003,0.001
2,0.134,0.0025,0.0025,0.0965,0.0000,0.001,0.0,0.001,0.003,0.002
3,0.072,0.0020,0.0020,0.1000,0.0000,0.001,0.0,0.001,0.003,0.003
4,0.047,0.0020,0.0000,0.0930,0.0065,0.001,0.0,0.001,0.003,0.004
...,...,...,...,...,...,...,...,...,...,...
17409,1.042,0.0050,0.0010,0.0810,0.0190,0.003,0.0,0.000,0.003,0.019
17410,0.541,0.0050,0.0010,0.0810,0.0210,0.004,0.0,0.000,0.003,0.020
17411,0.337,0.0055,0.0015,0.0785,0.0240,0.004,0.0,0.000,0.003,0.021
17412,0.224,0.0055,0.0015,0.0760,0.0230,0.004,0.0,0.000,0.003,0.022
17413,0.139,0.0050,0.0010,0.0760,0.0220,0.002,0.0,0.000,0.003,0.023

## Referencias

[London bike sharing dataset](https://www.kaggle.com/hmavrodiev/london-bike-sharing-dataset)

[Funciones Matemáticas](https://platzi.com/clases/1794-pandas/27904-funciones-matematicas/)

[Funciones complejas y Funciones lambdas](https://platzi.com/clases/1794-pandas/27903-funciones-mas-complejas-y-lambdas/)