# groupby mas funciones

## Instalar librerias

In [3]:
#Instalar librerias
!pip install --upgrade pandas

import pandas as pd
import numpy as np
import seaborn as sns
pd.__version__

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

'1.3.5'

## Dar formato a los decimales

Restringir el número de decimales

In [4]:
pd.options.display.float_format = '{:,.3f}'.format

## Crear DataFrame a partir de la libreria Seaborn

Se crea una base de datos de un restaurante

In [31]:
df = sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0        16.990 1.010  Female     No   Sun  Dinner     2
1        10.340 1.660    Male     No   Sun  Dinner     3
2        21.010 3.500    Male     No   Sun  Dinner     3
3        23.680 3.310    Male     No   Sun  Dinner     2
4        24.590 3.610  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239      29.030 5.920    Male     No   Sat  Dinner     3
240      27.180 2.000  Female    Yes   Sat  Dinner     2
241      22.670 2.000    Male    Yes   Sat  Dinner     2
242      17.820 1.750    Male     No   Sat  Dinner     2
243      18.780 3.000  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [7]:
# describir el dataset
df.describe(include='all')

        total_bill     tip   sex smoker  day    time    size
count      244.000 244.000   244    244  244     244 244.000
unique         NaN     NaN     2      2    4       2     NaN
top            NaN     NaN  Male     No  Sat  Dinner     NaN
freq           NaN     NaN   157    151   87     176     NaN
mean        19.786   2.998   NaN    NaN  NaN     NaN   2.570
std          8.902   1.384   NaN    NaN  NaN     NaN   0.951
min          3.070   1.000   NaN    NaN  NaN     NaN   1.000
25%         13.348   2.000   NaN    NaN  NaN     NaN   2.000
50%         17.795   2.900   NaN    NaN  NaN     NaN   2.000
75%         24.127   3.562   NaN    NaN  NaN     NaN   3.000
max         50.810  10.000   NaN    NaN  NaN     NaN   6.000

In [8]:
# Conocer la cantidad de ordenes por dia
df['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [9]:
# Calcular porcentajes
#1.dividirl por si misma, sumarla y multiplicar por 100
df['day'].value_counts() / df['day'].value_counts().sum()*100

Sat    35.656
Sun    31.148
Thur   25.410
Fri     7.787
Name: day, dtype: float64

In [10]:
# Calcular el consumo promedio por genero
df.groupby('sex').mean()

        total_bill   tip  size
sex
Male        20.744 3.090 2.631
Female      18.057 2.833 2.460

In [12]:
# Calcular el porcentaje de la propina
#Crear una nueva columna
df['prct_tip'] = df['tip'] / df['total_bill']
df

     total_bill   tip     sex smoker   day    time  size  prct_tip
0        16.990 1.010  Female     No   Sun  Dinner     2     0.059
1        10.340 1.660    Male     No   Sun  Dinner     3     0.161
2        21.010 3.500    Male     No   Sun  Dinner     3     0.167
3        23.680 3.310    Male     No   Sun  Dinner     2     0.140
4        24.590 3.610  Female     No   Sun  Dinner     4     0.147
..          ...   ...     ...    ...   ...     ...   ...       ...
239      29.030 5.920    Male     No   Sat  Dinner     3     0.204
240      27.180 2.000  Female    Yes   Sat  Dinner     2     0.074
241      22.670 2.000    Male    Yes   Sat  Dinner     2     0.088
242      17.820 1.750    Male     No   Sat  Dinner     2     0.098
243      18.780 3.000  Female     No  Thur  Dinner     2     0.160

[244 rows x 8 columns]

In [13]:
# Calcular la propina promedio por genero 
df.groupby('sex').mean()

        total_bill   tip  size  prct_tip
sex
Male        20.744 3.090 2.631     0.158
Female      18.057 2.833 2.460     0.166

In [14]:
# Calclar la mediana de la propina por genero
df.groupby('sex').median()

        total_bill   tip  size  prct_tip
sex
Male        18.350 3.000 2.000     0.153
Female      16.400 2.750 2.000     0.156

In [16]:
# Calcular valores estadisticos de la propina por genero
df.groupby('sex')[['prct_tip']].describe()

       prct_tip
          count  mean   std   min   25%   50%   75%   max
sex
Male    157.000 0.158 0.065 0.036 0.121 0.153 0.186 0.710
Female   87.000 0.166 0.054 0.056 0.140 0.156 0.194 0.417

In [18]:
# Calcular valores estadisticos de la cuenta y propina por genero
df.groupby('sex')[['total_bill','prct_tip']].describe()
# Se crean dos grupos

       total_bill                                                prct_tip  \
            count   mean   std   min    25%    50%    75%    max    count
sex
Male      157.000 20.744 9.246 7.250 14.000 18.350 24.710 50.810  157.000
Female     87.000 18.057 8.009 3.070 12.750 16.400 21.520 44.300   87.000


        mean   std   min   25%   50%   75%   max
sex
Male   0.158 0.065 0.036 0.121 0.153 0.186 0.710
Female 0.166 0.054 0.056 0.140 0.156 0.194 0.417

## Aplicar funciones

Convertir de EURO a USD

In [19]:
# crear funcion de conversion
def mean_eur2usd(x):
  return np.mean(x)*1.12

In [20]:
# prueba
mean_eur2usd([100,102])

113.12

In [21]:
# Calcular el promedio de la cuenta y propina por genero en dolares
df.groupby('sex')[['total_bill','prct_tip']].apply(mean_eur2usd)

        total_bill  prct_tip
sex
Male        23.233     0.177
Female      20.224     0.186

## Agregando más variables

In [22]:
# Calcular el promedio de la cuenta y propina por genero y tiempo en dolares
df.groupby(['sex','time'])[['total_bill','prct_tip']].apply(mean_eur2usd)

               total_bill  prct_tip
sex    time
Male   Lunch       20.214     0.186
       Dinner      24.037     0.174
Female Lunch       18.300     0.182
       Dinner      21.519     0.190

### Cuando se usa el comando *apply*, se puede usar funciones definidas por nostros mismos y también por funciones de las librerias

In [23]:
# Calcular la desviación estandar de la cuenta y propina por genero y tiempo en dolares
df.groupby(['sex','time'])[['total_bill','prct_tip']].apply(np.std)

               total_bill  prct_tip
sex    time
Male   Lunch        7.832     0.045
       Dinner       9.423     0.069
Female Lunch        7.393     0.034
       Dinner       8.123     0.063

## Crear funciones *lambda*

In [24]:
# Calcular el promedio de la cuenta y propina por genero y tiempo en dolares usando la funcion lambda
df.groupby(['sex','time'])[['total_bill','prct_tip']].apply(lambda x: np.mean(x)*1.12)

               total_bill  prct_tip
sex    time
Male   Lunch       20.214     0.186
       Dinner      24.037     0.174
Female Lunch       18.300     0.182
       Dinner      21.519     0.190

## Aplicar más de una función, usando el comando *aggregate*

In [25]:
# Calcular el promedio, el valor máximo y mínimo de la cuenta y la propina por genero y tiempo en dolares usando aggregate para integrar una lista de funciones
#aggregate([lista de funciones])
## forma corta de escribir el comando aggregate -> agg
df.groupby(['sex','time'])[['total_bill','prct_tip']].aggregate([np.mean,np.max,np.min])

              total_bill              prct_tip
                    mean   amax  amin     mean  amax  amin
sex    time
Male   Lunch      18.048 41.190 7.510    0.166 0.266 0.079
       Dinner     21.461 50.810 7.250    0.155 0.710 0.036
Female Lunch      16.339 43.110 8.350    0.162 0.259 0.073
       Dinner     19.213 44.300 3.070    0.169 0.417 0.056

In [26]:
## forma corta de escribir el comando aggregate -> agg
df.groupby(['sex','time'])[['total_bill','prct_tip']].agg([np.mean,np.max,np.min])

              total_bill              prct_tip
                    mean   amax  amin     mean  amax  amin
sex    time
Male   Lunch      18.048 41.190 7.510    0.166 0.266 0.079
       Dinner     21.461 50.810 7.250    0.155 0.710 0.036
Female Lunch      16.339 43.110 8.350    0.162 0.259 0.073
       Dinner     19.213 44.300 3.070    0.169 0.417 0.056

## Crear un diccionario de operaciones

1. Va a contener dos llaves
2. La primera llave es de las propinas. Y se calculara el valor máximo y el valor mínimo en los grupos de género y tiempo
3. La se segunda llave sera de la cuenta y se calculará el promedio en euros y el promedio en dólares

In [27]:
# creación del diccionario
dict_agg = {'tip':[min,max],'total_bill':[np.mean,mean_eur2usd]}
dict_agg

{'tip': [<function min>, <function max>],
 'total_bill': [<function numpy.mean>, <function __main__.mean_eur2usd>]}

In [28]:
# Colocar el diccionario en aggregate
df.groupby(['sex','time'])[['total_bill','tip']].agg(dict_agg)

                tip        total_bill
                min    max       mean mean_eur2usd
sex    time
Male   Lunch  1.440  6.700     18.048       20.214
       Dinner 1.000 10.000     21.461       24.037
Female Lunch  1.250  5.170     16.339       18.300
       Dinner 1.000  6.500     19.213       21.519

## Definir filtros

In [29]:
# crear la funcion que extraiga los promedios de las cuentas mayores a 20
def f_filter(x):
  return mean_eur2usd(x['total_bill'].mean()) > 20

In [30]:
df.groupby(['sex','time']).filter(f_filter)

     total_bill   tip     sex smoker   day    time  size  prct_tip
0        16.990 1.010  Female     No   Sun  Dinner     2     0.059
1        10.340 1.660    Male     No   Sun  Dinner     3     0.161
2        21.010 3.500    Male     No   Sun  Dinner     3     0.167
3        23.680 3.310    Male     No   Sun  Dinner     2     0.140
4        24.590 3.610  Female     No   Sun  Dinner     4     0.147
..          ...   ...     ...    ...   ...     ...   ...       ...
239      29.030 5.920    Male     No   Sat  Dinner     3     0.204
240      27.180 2.000  Female    Yes   Sat  Dinner     2     0.074
241      22.670 2.000    Male    Yes   Sat  Dinner     2     0.088
242      17.820 1.750    Male     No   Sat  Dinner     2     0.098
243      18.780 3.000  Female     No  Thur  Dinner     2     0.160

[209 rows x 8 columns]